<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"
        type='text/css'>
</head>

<body>
    <div class="content">

        <%- include('./partials/sidebar'); %>

            <div class="content-block">
                <h3>About The Flower Farm</h3>
                <p>The Flower Farm Corporation is considered one of the premier florists in the Philippines, we’ve been
                    in the flower business for almost 40 years.

                    We grow our own flowers primarily in our farm located in Tagaytay City. We are recognized as one of
                    the pioneers in the cut flower industry of the Philippines for having introduced floral varieties
                    never before grown in the country. </p>

                <h4>Our Founder</h4>
                <p>The Flower Farm started in 1983 as a gardening hobby of Ging de los Reyes. She bought several flower
                    seeds, plants, and bulbs from Europe, some varieties of which were not grown in the country at that
                    time.

                    After sharing the flowers with her friends who were amazed at the unique assortments, the hobby then
                    turned into a full-blown commercial enterprise and was incorporated in 1987. </p>
                <img src="/image/flowers-main-content.jpg" class="content-block__image-service">

                <h4>Visit the Farm</h4>
                <p>Come and see for yourself! Our Tagaytay farm is occasionally open for visitors. Our products are also
                    availabe for purchase at the farm. We charge a flat rate entrance fee of Php 1800.00 for a group of
                    up to 10 people. Schedule a visit by sending us an inquiry with the form below.</p>

            </div>
    </div>
    <%- include('./partials/footer'); %>
    <script src="/javascripts/index.js"></script>
</body>

</html>