<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" type='text/css'>
</head>

<body>
    <div class="content">

        <%- include('./partials/sidebar'); %>

            <div class="content-block">
                <h2>Services</h2>
                <div>
                    <p>At The Flower Farm, we go beyond providing you with the best fresh-cut flowers. We aim to create
                        great experiences and lasting memories through our services.</p>
                    <p>Our resident florists are dedicated to providing you with creative, elegant, and stunning floral
                        creations that will surely make you proud as a giver or host and captivate your recipient or
                        guests to no end. </p>
                    <p>From bouquets to stand-alone wreaths, from flower delivery to sprucing up event venues, The
                        Flower Farm has the experience and expertise to make it happen.</p>
                    <img src="/image/img-7.jpg" class="content-block__image-service">
                </div>
            </div>

    </div>
    <script src="/javascripts/index.js"></script>
</body>

</html>