<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" type='text/css'>
</head>

<body>
    <div class="content">

      <%- include('./partials/sidebar'); %>

        <div class="content-block">
            <div class="flowersCards">
               <div class="flowerItem">
                   <img src="/image/img-1.jpg"class="flowersImg">
                   <p>flowers 1</p>
                   <p>Price:11.99</p>
               </div>
               <div class="flowerItem">
                <img src="/image/img-2.png" class="flowersImg">
                <p>flowers 2</p>
                <p>Price: 11.99</p>
            </div>
            <div class="flowerItem">
                <img src="/image/img-3.jpg" class="flowersImg">
                <p>flowers 3</p>
                <p>Price:15.99</p>
            </div>
            <div class="flowerItem">
                <img src="/image/img-8.jpg" class="flowersImg">
                <p>flowers 4</p>
                <p>Price:11.99</p>
            </div>
            <div class="flowerItem">
                <img src="/image/img-6.jpg" class="flowersImg">
                <p>flowers 5</p>
                <p>Price:12.99</p>
            </div>
            
            </div>
           
        </div>

    </div>
    <script src="/javascripts/index.js"></script>
</body>

</html>