body{
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
    font-family:  "Roboto", sans-serif;
    color: #273d46;
}


.content{
     max-width: 1200px;
     margin: 0px auto;
     text-align: center;
}

@media (max-width: 1200px){
    .content{
        max-width: 970px;
    }
}

@media (max-width: 992px){
    .content{
        max-width: 750px;
    }
}

@media (max-width: 767px){
    .content{
        max-width: none;
    }
}

h1{
    font-size: 36px;
    line-height: 30px;
}

.content-sidebar a{
    opacity: 0.6;
    color: #273d46;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 25px;
}

.content-sidebar a:hover{
    color: #855426;
    opacity: 0.8;
}

.content-sidebar_link:active{
    color: #855426;
    opacity: 0.8;
}

.content-sidebar{
    margin-bottom: 15px;
}

.content-block__main-image{
    max-width: 100%;
    position: relative;
}

.content-block__button{
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding: 0px 30px;
    background-color: #80b7b3;
    border-radius: 25px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    text-decoration: none;
}

.content-block__button:hover{
    background-color: #477471;
}

.content-block__image-service{
    max-width: 70%;
    max-height: 70%; 
}

.flowersCards{
    display:flex;
    flex-wrap: wrap;
    margin: 0px -5px;
    justify-content: space-around;
}

.flowerItem{
    padding: 0px 5px;
    margin: 10px 0 10px 0;
    width: 150px;
    height: 250px;
}


.flowersImg {
    width: 149px;
    height: 155px;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 2%;
  }