<div class="content-header">
    <h1> The Flower Farm</h1>
    <nav class="content-sidebar">
        <a href="/" id="home-link" ><span>Home</span></a>
        <a href="/shop" id="shop-link" ><span>Shop</span></a>
        <a href="/services" id="services-link"><span>Services</span></a>
        <a href="/farm" id="farm-link"><span>Our Farm</span></a>
        <a href="/contact" id="contact-link"><span>Contact Us</span></a>
    </nav>
</div>